<nav>
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% endif %}">&lt;</a>
    </li>
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="/">1</a>
    </li>
    <li class="page-item">
      <span class="page-link" href="#">...</span>
    </li>
    {% endif %}
    <li class="page-item active">
      <a class="page-link" href="#">{{ page_obj.number }}</a>
    </li>
    {% if page_obj.has_next %}
    <li class="page-item">
      <span class="page-link" href="#">...</span>
    </li>
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
    </li>
    {% endif %}
    <li class="page-item">
      <a class="page-link" href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% endif %}">&gt;</a>
    </li>
  </ul>
</nav>
