<nav>
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="/">First</a>
    </li>
    {% endif %}
    <li class="page-item">
      <a class="page-link" href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% endif %}">Previous</a>
    </li>
    <li class="page-item active">
      <a class="page-link" href="#">{{ page_obj.number }}</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% endif %}">Next</a>
    </li>
    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    </li>
    {% endif %}
  </ul>
</nav>
