{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row justify-content-between">
      {% for product in page_obj %}
      <div class="col-3 my-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }} {{ product.price }} $</h5>
            <h6 class="card-subtitle mb-2 text-muted">in category: {{ product.category }}</h6>
            <p class="card-text">{{ product.status }}</p>
            <p class="card-text">only {{ product.remains }} left!</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  {% include 'pagination.html' %}
{% endblock %}
